{% extends "base.html" %}
{% block title %} Osetr - 400 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x190 - Bad request</h1>
    <img src="/static/img/dio.png" class="errorImg">
    <h2>You thought this was a valid request? But it's me, Dio!</h2>
</div>

{% endblock %}