{% extends "base.html" %}
{% block title %} Osetr - 401 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x191 - Authorization required</h1>
    <img src="/static/img/kazoo.jpg" class="errorImg">
    <h2>Wait a minute, who are you?</h2>
</div>

{% endblock %}