{% extends "base.html" %}

{% block title %} Osetr - 404 {% endblock %}

{% block content %}

{{ super() }}

<br><br>

<div class="text-center">
    <h1>Error 0x194 - Not Found</h1>
    {% if something %}
    <h2>This {{ something }} does not exist. Map is confused.</h2>
    <img src="/static/img/sad_map.png" class="errorImg">
    {% else %}
    <h2>"Help Dora find the {{ url }}!"</h2>
    <img src="/static/img/map.png" class="errorImg">
    {% endif %}
    {% if xss: %}
        <p>No XSS for you</p>
    {% endif %}
</div>

{% endblock %}