{% extends "bootstrap/base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% import "_macros.html" as macros %}

{% set nav_bar = [
    ('main.index', 'index', 'Home', False),
    ('projects.projects_page', 'projects', 'Projects', False),
    ('main.about_page', 'about', 'About', False),
    ('main.manage', 'manage', 'Manage', True)
] -%}

{% block title %}
Osetr {% if active_page %}- {{ active_page }}{% endif %}
{% endblock %} 

{% block styles %}
<link href="//bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    {% if config['TESTING'] %}
    Osetr <b><i>Testing</i></b>
    {% elif config['DEBUG'] %}
    Osetr <b><i>Debug</i></b>
    {% else %}
    Osetr
    {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {% for path, act_name, disp_name, admin_only in nav_bar %}
                {% if not (admin_only and not current_user.admin()) %}
                <li class="nav-item {% if act_name == active_page %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for(path) }}">{{ disp_name }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- To do: remove from production
      
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.rickroll') }}">Admin interface</a>
      </li>
    
      -->
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if not current_user.is_logged_in() %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#" data-target="#modalSignupForm"><b>Sign up</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#" data-target="#modalLoginForm"><b>Sign in</b></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/profile/{{ current_user.username }}"><b>{{ current_user.name }} {{ current_user.surname }}</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.signout') }}"><b>Sign out</b></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                {{ macros.alert("error-login", "alert-danger", "<strong>Oh snap!</strong>") }} {{ wtf.quick_form(g.login_form) }}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSignupForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                {{ macros.alert('error-signup', "alert-danger", "<strong>Oh snap!</strong>") }} {{ wtf.quick_form(g.signup_form) }}
            </div>
        </div>
    </div>
</div>

{{ macros.alert('success', 'alert-success', '<strong>Yay!</strong>') }} {{ macros.alert('error', 'alert-danger', '<strong>Oh no!</strong>') }} 
{% endblock %} 
{% block scripts %}
<footer class="page-footer font-small fixed-bottom">
    <div id="copyright">
        Homepage v.{{ config['version'] }} ©peterder72, {{ now.year }}. <a href='{{ url_for("main.copyright") }}'>Used resources</a>
    </div>
{% block footer %} 
{% endblock %}
</footer>
{{ super() }}
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<script>
    if (window.location.hash) {
        $(document).ready(function() {
            $(window.location.hash).modal("show");
        });
    }
</script>
{% endblock %}