{%- extends "base.html" -%}
{% set active_page = "index" %}

{%- block content -%}

{{ super() }}

<div class="jumbotron text-center">
        <div class="beautiful-background"></div>
        <div class="jumbotron-container">
                <h1>Osetr</h1>
                <p>peterder72's humble place</p> 
        </div>
      </div>

<div class="text-center">
        <p>
                Welcome to my website! This index page is empty for now, but you can already check
                out my <b>projects</b> and <b>about info</b>!
        </p>
        <p>
                This website is still in development. 
                If broken - contact <a href="mailto:webmaster@osetr.su">webmaster@osetr.su</a>
        </p>
</div>
{%- endblock -%}