{% extends "base.html" %}

{% block title %} Flask - profile {{ user.id }} {% endblock %}

{% block content %}
{{ super() }}
<div class="jumbotron minitron">
    <table id="profile_header">
        <tr>
            <td>
                <img class="gravatar" src="https://gravatar.com/avatar/{{ user.email_hash }}?d=identicon&size=70">
            </td>
            <td>
                <h2 style="margin-left: 1em">
                    {{ user.name }} {{ user.surname }}
                </h2>
            </td>
        </tr>
    </table>
</div>
<div id="info-container">
    <table>
        <tr>
            <td>
                <b>Joined on</b> {{ user.joined }}
            </td>
        </tr>
        <tr>
            <td>
                <b>E-mail:</b> {{ user.email_plain }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Confirmed: {{ "Yes" if user.confirmed else "No" }}</b>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
