{% extends "base.html" %}

{% block title %} Flask - success {% endblock %}

{% block content %}
{{ super() }}
<div class="text-center">
    <table width="50%" style="margin-left: auto; margin-right: auto; margin-top: 10px;">
        <tr>
            <td>
                <h1>Congratulations!</h1>
                <h2>Welcome to the machine!</h2>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/img/thumbs-up.png" width=30% id="okpic">
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    You have successfully created your account. To finish your registration, please confirm your email
                    by clicking the link in the letter, that has just been sent to you. If it's not in your inbox, please
                    check spam. Google filters can be unpredictable sometimes. <br>
                    I promise you, the link is totally safe. Fear not, {{ user.name }}.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    But you can already login and enjoy your newly gained access!
                </p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
